[Unit]
Description=ra2 Java Application
After=network.target

[Service]
WorkingDirectory=/opt/my-ra2
# 确保服务器上安装了Java，并可以使用 'java' 命令
ExecStart=/bin/bash /opt/my-ra2/ra2.sh
SuccessExitStatus=143
Restart=on-failure      # 如果应用非正常退出，自动重启
RestartSec=10

[Install]
WantedBy=multi-user.target